<header class="header">
	<div class="social-bar">
		<div class="social-motto">
			<p>idiazroncero.com | <span id="social-log">versión 0.3</span></p>
			<div class="social-motto-log">
				<p>¡estamos en beta!</p>
				<p>Últimos cambios:</p>
				<ul>
					<li>Mensaje "en construcción"</li>
					<li>Añadidos dos posts</li>
					<li>Añadidas tags</li>
					<li>Syntax Highlighting</li>
				</ul>
			</div>
		</div>
		{% if site.github_username %}
			<a href="https://github.com/{{ site.github_username }}" class="fa fa-github" target="_blank"></a><!--
		{% endif %}
		{% if site.twitter_username %}
			--><a href="https://twitter.com/{{ site.twitter_username }}" class="fa fa-twitter" target="_blank"></a><!--
		{% endif %}
		{% if site.linkedin_username %}
			--><a href="https://linkedin.com/{{ site.linkedin_username }}" class="fa fa-linkedin" target="_blank"></a><!--
		{% endif %}
		Truco para evitar el problema con inline-block-->
	</div>
	<div class="idr" >
		<h1>
			<a href="{{ site.baseurl }}/">
				<span class="idr-i">i</span><span class="idr-id">
				d</span><span class="idr-idi">i</span><span class="idr-idia">
				a</span><span class="idr-idiaz">
				z</span><span class="idr-idiaz_">
				.</span><span class="idr-idiaz_r">
				r</span><span class="idr-idiaz_ro">
				o</span><span class="idr-idiaz_ron">
				n</span><span class="idr-idiaz_ronc">
				c</span><span class="idr-idiaz_ronce">
				e</span><span class="idr-idiaz_roncer">
				r</span><span class="idr-idiaz_roncero">
				o</span>
			</a>
		</h1>
	<span class="idr-motto">Diseño web, periodismo, política y otras parafilias</span>
</div>
<!-- <nav class="site-nav">
	<a href="#" class="menu-icon">
	</a>
	<div class="trigger">
		{% for page in site.pages %}
			{% if page.title %}
				<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
			{% endif %}
		{% endfor %}
	</div>
	<div class="secciones">
		{% for category in site.categories %}
			<p>{{ category | first }}</p>
		{% endfor %}
	</div>
</nav> -->
</header>