---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <p>
        {{ page.date | date: "%d %b %Y" }}
        {% if page.author %} • {{ page.author }}{% endif %}
        {% if page.meta %} • {{ page.meta }}{% endif %}
  	    {% for category in page.categories %} 
  		    • {% include getslug.html cat1=category%} 
  		  {% endfor %}
      </p>
      <p class="post-tags">
        {% for tag in page.tags %}
          <span>{{ tag }}</span>
        {% endfor %}
      </p>
    </div>
  </header>

  <article class="post-content">
    <aside class="actualizado">
      <strong>Fe de errores</strong>
        <p><span class="actualizado-fecha">{{ page.actualizacion.fecha | date: "%d %b %Y" }} · </span>{{ page.actualizacion.texto }}</p>
    </aside>
    {{ content }}
  </article>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'idiazroncero';
      
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</div>
